body {
    max-width: 1000px;
    float: none;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'open sans', sans-serif;
    padding: 5px 15px 5px 15px;
}

h1 {
    background-color: rgba(165, 2, 2, 0.87);
    color: rgb(235, 235, 235);
}

/* Might enter social media icons later */

p, li {
    font-family: 'open sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 15px;
    
}


a  { /* There are no actual links present here */
    font-family: 'open sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    text-decoration: none;
    color: rgb(83, 83, 83);
    padding: 5px 15px 5px 15px;
} 

a:hover {
    color: red;
}

ul li {
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    border: 0.5px solid rgb(124, 124, 124);
    border-radius: 100px;
    margin: 10px 0 0 10px;
    height: 70px;
    width: none;
}

.logo img:hover {
    box-shadow: 0 10px 10px 0 rgb(87, 86, 86);
}

/* styling the tabs and buttons
and adding working links to them */
nav { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(92, 91, 91, 0.253);
}

nav a {
    text-decoration: double;
    color: rgb(85, 85, 85);
    padding: 20px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

nav a:hover {
    color: rgb(173, 2, 2);
    box-shadow: 0px 3px 0px 0px rgb(90, 90, 90);
    height: 30px;
}

footer {
    display: inline-block;
    width: 100%;
}

/* homepage */

main {
    float: left;
    width: 70%;
    display: block;
    min-height: 300px;
}

form {
    display: flex;
    font-family: 'open sans', sans-serif;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
    margin-right: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    min-height: 300px;
    padding: 15px 20px;
    border-radius: 5px;
    /* Might change later
    background-color: rgb(216, 218, 218);
    box-shadow: 2px 2px 8px rgb(124, 124, 124);
    */
}

.main-info {
    text-align: center;
    font-size: 18px;
}

input , textarea {
    min-height: 32px;
    margin-bottom: 10px;
    padding-left: 7px;
    border-radius: 5px;
}
select {
    min-height: 32px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 7px;
    border-radius: 5px;
}

input::placeholder , textarea::placeholder {
    color: black;
    opacity: 0.5;
}

textarea {
    resize: none;
    padding-top: 4px;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

.label__text {
    padding: 4px 7px;
}

.text-box {
    width: 100%;
}

.button {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    
    background-color: rgb(79, 80, 80);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.button:hover {
    background-color: rgba(165, 2, 2, 0.87);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

aside {
    float: right;
    width: 28%;
    display: block;
    min-height: 300px;
    background-color: rgba(92, 91, 91, 0.253);
}

/* Mobile screen dapted */
@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}

body {
    background-image: url(../images/bg.jpg);
    background-size: 2000px;
}